<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="/index.html">
      <span class="brand-ko" data-site-field="labNameKo">해사 AX 보안공학 연구실</span>
      <span class="brand-en" data-site-field="labNameEn">M-AX Cybersecurity Lab</span>
    </a>

    <button class="nav-toggle" id="navToggle" aria-label="메뉴 열기" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>

    <nav class="main-nav" id="mainNav">
      <ul>
        <li class="has-sub">
          <a href="/index.html" data-site-field="navAbout">About</a>
          <ul class="sub-nav">
            <li><a href="/index.html#welcome" data-site-field="navWelcome">Welcome</a></li>
            <li><a href="/index.html#contact" data-site-field="navContactUs">Contact us</a></li>
          </ul>
        </li>
        <li><a href="/people.html" data-site-field="navPeople">People</a></li>
        <li class="has-sub">
          <a href="/research.html" data-site-field="navResearch">Research</a>
          <ul class="sub-nav">
            <li><a href="/research.html#areas" data-site-field="navAreas">Areas</a></li>
            <li><a href="/research.html#projects" data-site-field="navProjects">Projects</a></li>
            <li><a href="/research.html#facility" data-site-field="navFacility">Facility</a></li>
          </ul>
        </li>
        <li><a href="/publications.html" data-site-field="navPublications">Publications</a></li>
        <li><a href="/news.html" data-site-field="navNews">News</a></li>
      </ul>
    </nav>
  </div>
</header>
